@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
body  {
font-family: 'Montserrat', sans-serif ; 
font-weight: 500;
 margin: unset;
 min-height: 100% !important;
 z-index: 3;
}
html{
  min-height: 100% !important;
margin-bottom: 0% !important;
}
img {
  border: none;
}

.home_container {
  padding: 0% 5%;
}
.location_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 60px;
  background-color: #f6f6f6;
  padding: 6rem 3rem;
  border-radius: 2rem;
}
a {
  text-decoration: none;
  color: #ff6060;
}
h2 {
  margin: unset;
}
p {
  font-size: 2.5rem;
  color: #ff6060;
  font-weight: 350;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
  height: 4rem;
  width: 85%;
  background-color: #ff6060;
  border-radius: 0.5rem;
  border: none;
}
button:active {
  border-style: outset;
  border: none;
}
button span {
  font-size: 2rem;
  color: #ffff;
}
li {
  font-size: 2.5rem;
  color: #ff6060;
  font-weight: 350;
}
ul {
  list-style-type: none;
  margin: unset;
}
.grey {
  color: rgb(190, 186, 186);
}
.visible {
  visibility: visible;
}
@media screen and (min-width: 320px) and (max-width: 1090px) {
  .location_section {
    display: flex;
    flex-direction: column;
  }
  html {
    min-width: unset;
  }
  .container {
    flex-direction: column !important;
  }
  a {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  ul {
    padding: 0.5rem;
  }
  li {
    font-size: 12px;
  }
  .container {
    margin-top: 1rem;
  }
  p {
    font-size: 12px;
  }
  body {
    margin-top: 10.5%;
  }
}
