.ReactCollapse--collapse {
  width: 80%;
}
.arrow_left {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 6rem;
  color: #ffff;
}
.arrow_left:hover {
  cursor: pointer;
}
.arrow_right {
  position: absolute;
  right: 0;
  top: 40%;
  font-size: 6rem;
  color: #ffff;
}
.arrow_right:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1090px) {
  .ReactCollapse--collapse {
    width: 100%;
  }
  .arrow_left {
    font-size: 40px;
    top: 90%;
  }
 
  .arrow_right {
    font-size: 40px;
    top: 90%;
  }
}
