.hidden {
  visibility: hidden;
}
.landscape {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10rem;
  width: 100% ;
  min-height: 17rem;
  margin-top: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}
.landscape svg {
  position: absolute;
}
.location_img {
  height: 32rem;
  border-radius: 2rem;
  object-fit: cover;
  border: none;
}
.landscape span {
  position: absolute;
  top: 88%;
  left: 50%;
  color: #ffff;
  font-weight: 500;
  font-size: 1.5rem;
}
.landscape_home {
  background-image: url("../../assets/landscape.png");
}
.landscape_about {
  background-image: url("../../assets/landscape_about.png");
}
.landscape img {
  width: 100%;
}
.landscape div {
  position: absolute;
  color: #ffff;
  font-size: 4rem;
  top: 35.2%;
  z-index: 3;
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1090px) {
  .landscape {
    height: 10rem;
    margin-top: 4rem;
    min-height: unset !important;
  }
  .location_img {
    height: 20rem !important;
    border-radius: 2rem;
    object-fit: cover;
  }
  .container {
    margin-top: 12rem !important;
    }
  .landscape div {
    left: 3%;
    max-width: 14ch;
    font-size: 24px;
    text-align: left;
  }
  .landscape span {
    position: absolute;
    visibility: hidden;
  }
  .landscape img {
    width: 1400% !important;
    height: 10rem;
    border-radius: 1.1rem;
  }
  .about_img {
    object-fit: FILL;
    height: 220px !important;
    background-size: 50%;
  }
}
@media screen and (min-width: 1090px) and (max-width: 1260px) {
  .landscape div {
    font-size: 3rem;
  }
}