.background_location {
  position: relative;
  margin-top: 10rem;
  height: 30rem;
}
.background_location span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #ffff;
  font-size: 1.5rem;
}
.background_location img {
  width: 100%;
  height: 30rem;
  object-fit: cover;

  border-radius: 1rem;
}
.location_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}
.exact_location {
  font-size: 1.5rem;
  color: #ff6060;
}
.location_title {
  font-size: 4rem;
  color: #ff6060;
}
.tag_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  min-width: 20rem;
}
.tag {
  text-align: center;
  background-color: #ff6060;
  color: #ffff;
  width: 11rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  padding-top: 0.4rem;
}
@media screen and (min-width: 320px) and (max-width: 1090px) {
  .location_title {
    width: 80%;
    font-size: 2rem;
  }
  .location_container {
    margin-top: unset !important;
  }
  .background_location {
    margin-top: 4rem;
    height: 255px;
  }
  .background_location span {
    font-size: 12px;
    visibility: hidden;
  }
  .background_location img {
    height: 255px;
  }
  .logo_background {
    width: 100% !important;
    height: 15rem;
  }
  .background_location span {
    bottom: 10%;
  }
  .location_section {
    margin-top: 50px;
  }
  .location_title {
    font-size: 18px;
  }
  .exact_location {
    font-size: 14px;
  }
  .tag {
    width: 8rem;
    font-size: 1rem;
    height: 1.5rem;
    border-radius: 1.3rem !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .tag {
    width: 30%;
    font-size: 12px;
    height: fit-content;
    border-radius: 0.5rem;
    padding-bottom: 0.3rem;
  }
  .item_menu {
    gap: 1rem;
  }
}
